.cabeçalho_menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("Header\ \(1\).svg");
    display: inline-block;
}

:root{

     --cor-de-fundo:  #EBECEE;
     --branco: #FFFFFF;
}

.CABEÇALHO{
     
    background-color: var(--branco);

}